@use '@/styles/variables' as *;

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fbfbfb;
    overflow: hidden;

    &__body {
        display: flex;
        flex: 1;
        min-height: 0;
        min-width: 0;
        align-items: flex-start;
        position: relative;
        overflow: hidden;
        margin-top: 100px;
        height: calc(100vh - 100px);
    }

    &__page {
        flex: 1;
        padding: 60px 48px 64px;
        background-color: #fbfbfb;
        min-width: 0;
        overflow-y: auto;
        margin-left: 283px;
        height: 100%;
        box-sizing: border-box;
    }
}

@media (max-width: 1150px) {
    .main-layout {
        &__body {
            margin-top: 96px;
            height: calc(100vh - 96px);
        }

        &__page {
            margin-left: 240px;
        }
    }
}

@media (max-width: 960px) {
    .main-layout {
        &__body {
            margin-top: 100px;
            height: calc(100vh - 100px);
        }

        &__page {
            padding: 32px 24px 48px;
            margin-left: 0;
        }

        &__overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 25;
        }
    }
}

@media (max-width: 720px) {
    .main-layout {
        &__body {
            margin-top: 120px;
            height: calc(100vh - 120px);
        }

        &__page {
            padding: 20px 16px 32px;
        }
    }
}

@media (max-width: 640px) {
    .main-layout {
        &__page {
            padding: 16px 12px 24px;
        }
    }
}
