@use '@/styles/variables' as *;

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fbfbfb;
    overflow: hidden;

    &__body {
        display: flex;
        flex: 1;
        min-height: 0;
        min-width: 0;
        align-items: flex-start;
        position: relative;
        overflow: hidden;
        margin-top: 100px;
        height: calc(100vh - 100px);
    }

    &__page {
        flex: 1;
        padding: 60px 48px 64px;
        background-color: #fbfbfb;
        min-width: 0;
        overflow-y: auto;
        margin-left: 283px;
        height: 100%;
        box-sizing: border-box;
    }
}

@media (max-width: 1150px) {
    .main-layout {
        &__body {
            margin-top: 96px;
            height: calc(100vh - 96px);
        }

        &__page {
            margin-left: 240px;
        }
    }
}

@media (max-width: 960px) {
    .main-layout {
        &__page {
            padding: 32px 24px 48px;
            margin-left: 0;
        }
    }
}

@media (max-width: 640px) {
    .main-layout {
        &__page {
            padding: 24px 18px 40px;
        }
    }
}
